@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .small {
    font-size: 0.3rem;
  }
}

@layer components {
  .triangle {
    position: absolute;
    content: "";
    top: 95%;
    right: 75%;
    border-top: 0.4rem solid #000;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
  }
  .shape-outside-circle {
    shape-outside: circle(50%);
  }
  .frame-strong {
    line-height: 1.6;
    font-size: 1.3rem;
  }
  .frame-strong > strong {
    border: 1px solid #6C63FF79;
    padding: 0px 6px;
    border-radius: 5px;
    color: #6C63FFbb;
  }
  .chip {
    border: 2px solid #6C63FF79;
    padding: 0px 6px;
    border-radius: 5px;
    color: #6C63FFbb;
    font-size: small;
    font-weight: 700;
  }
  .tag:after {
    /* content: "In development"; */
    color: #242424;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 150%;
    /* height: 50px; */
    background-color: #e74c3c;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:99;
    transform: translate(-50%, -50%) rotate(25deg); /* Rotar el pseudo-elemento */
    
  }
}



